*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Dancing Script', cursive;
    line-height: 1.5;
    height: 100vh;
}
span,p{
    font-family: "Open Sans", sans-serif;
}
.class-1{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    overflow: hidden;
}
.class-1>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav{
    position: absolute;
    width: 80%;
    height: 50px;
    top: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo>h2{
    display: inline-block;
    padding: 8px 40px;
    font-size: 32px;
    margin-right: 120px;
}
.nav>.logo>h2:hover{
    cursor: pointer;
}
.nav-items{
    padding: 8px;
    text-align: end;
}
.nav-items>span{
    font-size: 1rem;
    padding: 5px 20px;
    font-weight: 300;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons>i{
    padding: 5px;
}
.order{
    margin: 0px 10px;
    padding: 8px 30px;
    background-color: #ffbe33;
    border-radius: 30px;
}
.class-2{
    position: absolute;
    color: white;
    margin-top: 2em;
    width: 80%;
    height: 100%;
    padding: 45px 30px 75px;
    display: flex;
    animation-name: slide;
    animation-timing-function:ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.item1{
    width: 50%;
    height: 100%;
    padding:45px 0px 75px;
    margin-top: 40px;
}
.item1>h1{
    top: 0;
    font-size: 56px;
    display: inline-block;
    margin-bottom: 15px;
}
.item1>p{
    font-size: 14px;
}

.item2{
    width: 50%;
    height: 100%;
    padding:45px 0px 75px;
    margin-top: 40px;
    transform: translateX(800px) translateY(0px);
}
.item2>h1{
    top: 0;
    font-size: 56px;
    display: inline-block;
    margin-bottom: 15px;
}
.item2>p{
    font-size: 14px;
}

.now{
    margin-top: 30px;
    padding: 8px 30px;
    background-color: #ffbe33;
    border-radius: 30px;
    display: inline-block;
}
.dotted{
    width: 100%;
    height: 16px;
    bottom: 0;
    transform: translateY(-80px) translateX(120px);
}
.dotted>.dots{
    width: 50%;
    height: 100%;
    margin-left: 50px;
}
.dotted>.dots>span{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 16px;
    height: 100%;
    margin: 4px;
    border-radius: 50%;
}
#first{
    animation-name: dott1;
    animation-timing-function: ease;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
#second{
    animation-name: dott2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
#third{
    animation-name: dott3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.offers{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
.offers>.width{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.offer1,.offer2{
    background-color: #222831;
    width: 45%;
    height: 100%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.offer1>.img-box,.offer2>.img-box{
    width: 180px;
    height: 180px;
    border: 5px solid #ffbe33;
    border-radius: 50%;
    overflow: hidden;
}
.img-box:hover>img{
    transform: scale(1.1);
}
.img-box>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.detail-box{
    color: white;
    margin-left: 16px;
    padding: 10px;
    height: 100%;
}
.detail-box>p{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}
.detail-box>span{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: 700;
}
.detail-box>.now2{
    padding: 8px 30px;
    background-color: #ffbe33;
    border-radius: 30px;
}

/* menu */
.menu{
    width: 100%;
    margin-top: 20px;
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu>h1{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
}
.menu>.menu-buttons{
    width: 90%;
    margin-top: 45px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.menu-buttons>span{
    padding: 7px 25px;
}
#all-btn{
    background-color: #222831;
    border-radius: 25px;
    color: white;
}

/* items---------------------------------------- */
.items{
    margin-top: 45px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    width: 28%;
    height: 400px;
    background-color: #222831;
    color: white;
    border-radius: 10px;
    margin: 15px 15px;
}
.item>.img{
    width: 100%;
    height: 50%;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 45px;
    margin-top: -1px;
}
.img>img{
    width: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.img:hover>img{
    transform: scale(1.1);
}
.item-info{
    width: 100%;
    padding: 10px;
}
.item-info>h1{
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size:x-large
}
.buy{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.buy>i{
    width: 40px;
    height: 100%;
    background-color: #ffbe33;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #ffbe33;
    padding: 8px 40px;
    border-radius: 30px;
}

/* about-ctr -------------------------------------------*/
.about-ctr{
    margin-top: 80px;
    width: 100%;
    height: 110vh;
    padding: 10px 100px;
    background-color: #222831;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
.about-ctr>.image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.image>img{
    width: 70%;
    object-fit: cover;
}
.about-ctr>.info{
    width: 50%;
    height: 50%;
    text-align:left;
}
.about-ctr>.info>h1{
    display: inline-block;
    font-size: 2.5rem;
}
.info>.read{
    margin-top: 2em;
    display: inline-block;
    color: white;
    background-color: #ffbe33;
    padding: 10px 40px;
    border-radius: 30px;
}
/* contact----------------------------------------------- */
.contact{
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.width-div>h1{
    display: inline-block;
    margin-bottom: 25px;
    text-align: left;
    font-size: 2.5rem;
}
.width-div>.con-dets{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.dets{
    width: 48%;
}
.width-div{
    width: 80%;
    height: 100%;
}
.dets>input{
    width: 100%;
    height: 50px;
    padding: 6px 12px 6px 25px;
    margin-bottom: 25px;
    font-size: 16px;
    font-family:"Open Sans", sans-serif;
    color: #222831;
    border: 1px solid #999;
    border-radius: 5px;
}
 #persons{
    width: 100%;
    height: 50px;
    padding: 6px 12px 6px 25px;
    margin-bottom: 25px;
    font-size: 16px;
    font-family:"Open Sans", sans-serif;
    color: #222831;
    border: 1px solid #999;
    border-radius: 5px;
 }
.maps{
    width: 48%;
    height: 100%;
}
.maps>iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.align>.book{
    color: white;
    margin-top: 40px;
    padding: 10px 55px;
    background-color: #ffbe33;
    border-radius: 30px;
    display: inline-block;
}
.align{
    width: 80%;
    display: flex;
    justify-content: left;
}

/* customers----------------------- */
.customers{
    width: 100%;
    /* margin: 50px 0px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.customers>h1{
    display: inline-block;
    font-size: 2.5rem;
}
.people{
    width: 85%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation-name: slide2;
    animation-timing-function:ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.customer,.customer2{
    width: 45%;
    height: 350px;
    margin-top: 20px;
}
.customer2{
    transform: translateX(1350px) translateY(-370px);
}
.cus-det{
    width: 100%;
    height: 55%;
    background-color: #222831;
    font-family:"Open Sans", sans-serif;
    padding: 1.25em;
    border-radius: 10px;
    color: white;
}
.cus-det>p{
    font-size: 0.9rem;
}
.cus-det>h3{
    margin-top: 0.4em;
}
.cus-img{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    z-index: 1;
}
.cus-img>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ffbe33;
    margin-top: -5px;
    z-index: 2;
}
.customer>.cus-img::before,.customer2>.cus-img::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    top: -25px;
    margin: 0px 52px;
    background-color: #ffbe33;
    transform: rotate(45deg) translateY(18px);
    z-index: -2;
}
.cust-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cust-buttons>span{
    margin: 0px 5px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #ffbe33;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer */
.footer{
    width: 100%;
    height: 60vh;
    background-color: #222831;
    padding: 40px;
    color: white;
    text-align: center;
}
.foot-dets{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
}
.footer1,.footer2,.footer3{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}
.footer1>h2,.footer3>h2{
    margin-bottom: 8px;
}
.footer3>p{
    margin-bottom: 8px;
}
.footer2>.icons{
    display: flex;
    justify-content: center;
}
.footer2>.icons>i{
    font-size: larger;
}
.footer>p{
    margin-top: 30px;
}

@keyframes slide {
    0%{
        transform: translateX(0px);
    }

    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1370px);
    }
}
@keyframes dott1 {
    0%{
        background-color: #ffbe33;
    }
    30%{
        background-color:#ffbe33;
    }
    31%{
        background-color: white;
    }
    100%{
        background-color: white;
    }
}
@keyframes dott2 {
    0%{
        background-color: white;
    }
    30%{
        background-color:white;
    }
    31%{
        background-color: #ffbe33;
    }
    60%{
        background-color: #ffbe33;
    }
    61%{
        background-color: white;
    }
    100%{
        background-color: white;
    }
}
@keyframes dott3 {
    0%{
        background-color: white;
    }
    60%{
        background-color: white;
    }
    61%{
        background-color: #ffbe33;
    }
    100%{
        background-color: #ffbe33;
    }
}
@keyframes slide2 {
    0%{
        transform: translateX(0px);
    }

    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1350px);
    }
}

@media screen and (max-width:1076px) and (min-width:992px){
    .items,.nav,.main,.offers>.width,.width-div,.align{
        width: 90%;
    }
    .people{
        width: 95%;
    }
    .footer{
        height: 80vh;
    }
}